.bgWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; // evita scroll raro por el fondo
}

.trapecioBg {
  position: absolute;
  inset: 0; // ocupa todo el main
  background: linear-gradient(135deg, #46e5cb, #0ea5e9);
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 75%);
  z-index: 1; // queda atrás
  pointer-events: none; // no interfiere con clics
}

.trapecioBgXs {
  position: absolute;
  inset: 0; // ocupa todo el main
  background: linear-gradient(135deg, #46e5cb, #0ea5e9);
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
  z-index: 1; // queda atrás
  pointer-events: none; // no interfiere con clics
}
